site_name: NumQI
site_url: https://husisy.github.io/numqi/
repo_url: https://github.com/husisy/numqi
edit_uri: edit/main/docs/
theme:
  name: material
  features:
    - toc.integrate
    - navigation.tabs
    - search.highlight
    - search.share
    - search.suggest
    - content.code.copy
    - content.action.edit
  palette:
    - scheme: default
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to dark mode
    - scheme: slate
      toggle:
        icon: material/toggle-switch
        name: Switch to light mode
plugins:
  search:
  git-authors:
    show_email_address: false
  git-revision-date-localized:
    enable_creation_date: true
  mkdocs-jupyter:
    include: ["foundation/**/*.ipynb", "application/**/*.ipynb"] # Default: ["*.py", "*.ipynb"]
    execute: false
  mkdocstrings:
    default_handler: python
    handlers:
      python:
        paths: [python]
        options:
          docstring_style: google
          show_source: false
          show_root_heading: true
markdown_extensions:
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
extra_javascript:
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
# TODO add colab link
nav:
  - Home: index.md
  - Installation: installation.md
  - Foundation:
    - foundation/get_started/get_started.ipynb
    - Group:
      - foundation/group/basic.ipynb
      - foundation/group/young-tableaux.ipynb
      - foundation/group/symext.ipynb
      - Symplectic-Group-F2: foundation/group/spf2.md
      - foundation/group/pauli.ipynb
      - foundation/group/clifford.ipynb
    - Manifold:
      - foundation/manifold/trivialization.ipynb
      - foundation/manifold/basic_sphere.ipynb
      - foundation/manifold/basic_stiefel.ipynb
    - Matrix space:
      - foundation/matrix_space/numerical_range.ipynb
      - foundation/matrix_space/numerical_range1.ipynb
      - foundation/matrix_space/space_schmidt_rank.ipynb
      - foundation/matrix_space/space_schmidt_rank_real.ipynb
    - Optimization:
      - foundation/optimize/basic.ipynb
      - foundation/optimize/wiki-test-function.ipynb
      - foundation/optimize/adam-vs-lbfgs.ipynb
      - foundation/optimize/wiki-test-function-ALM.ipynb
    - foundation/misc/random.ipynb
    - foundation/misc/gellmann.ipynb
    - foundation/misc/dicke.ipynb
  - Application:
    - Get started:
      - application/get_started/overview.md
      - application/get_started/quantum_state.ipynb
    - Geometry of quantum state:
      - application/geometry/numerical_range_dm.ipynb
      - application/geometry/bloch_vector.ipynb
    - Quantum entanglement:
      - application/entangle/bipartite.ipynb
      - application/entangle/multipartite.ipynb
      - application/entangle/measure.ipynb
      - Detection method:
        - application/entangle/overview_method.ipynb
        - application/entangle/cha.ipynb
        - application/entangle/sym_bos_ext.ipynb
        - application/entangle/pureb.ipynb
        - application/entangle/gme_subspace.ipynb
        - application/entangle/boundary_method.ipynb
    - Quantum error correction:
      - application/qecc/basic.md
      - application/qecc/varqecc.ipynb
      - application/qecc/qecc733.ipynb
    - Quantum tomography:
      - application/tomography/state_tomography.ipynb
      - application/tomography/channel_tomography.ipynb
      - application/tomography/optimal_povm.ipynb
      - Pure-state tomography:
        - application/tomography/basic.ipynb
        - application/tomography/advanced00.ipynb
        - application/tomography/advanced01.ipynb
    - Quantum circuit:
      - application/circuit/basic.ipynb
      - application/circuit/customized_gate.ipynb
      - application/circuit/gate_decomposition.ipynb
    - Quantum control:
      - application/control/simulate_dynamics.ipynb
    - Quantum communication:
      - application/communication/channel_capacity_1_inf.ipynb
    - application/misc/maxent.ipynb
    - application/misc/query_grover.ipynb
  - API:
    - dicke: api/dicke.md
    - entangle:
      - core: api/entangle.md
      - PPT-criteria: api/entangle_ppt.md
      - Symmetric-Extension-Criteria: api/entangle_symext.md
      - Entanglement-of-Formation: api/entangle_eof.md
      - Convex-Hull-Approximation: api/entangle_cha.md
      - Measure: api/entangle_measure.md
      - UPB-BES: api/entangle_upb.md
      - Pure-Bosonic-Extension: api/entangle_pureb.md
    - gate: api/gate.md
    - gellmann: api/gellmann.md
    - group:
      - core: api/group.md
      - Lie group: api/group_lie.md
      - Symmetric group: api/group_sym.md
      - Symmetric-Extension: api/group_symext.md
      - GF2 Symplectic Group: api/group_spf2.md
    - manifold: api/manifold.md
    - matrix-space: api/matrix_space.md
    - random: api/random.md
    - simulator:
      - core: api/sim.md
      - state: api/sim_state.md
      - density-matrix: api/sim_dm.md
    - state: api/state.md
    - unique-determine: api/unique_determine.md
    - utils: api/utils.md
  - misc: misc.md
