name: unittest

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4

      - name: Upgrade pip
        run: python3 -m pip install --upgrade pip

      # pypi defaults to cuda-torch which is not necessary
      - name: install torch-cpu
        run: python3 -m pip install torch --index-url https://download.pytorch.org/whl/cpu

      - name: Install the package
        run: python3 -m pip install -e .[dev]

      - name: Test with pytest
        run: python3 -m pytest --cov=python/numqi --cov-report=xml tests/

      # TODO
      # - name: Upload coverage report
      #   uses: codecov/codecov-action@v3
      #   with:
      #     token: ${{ secrets.CODECOV_TOKEN }}
      #     fail_ci_if_error: false
      #     verbose: true
